#contactPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 10%;
}

#contactPageContainer > div {
    width: 75%;
    margin: 2% 0 2% 12.5%;
}

#contactPageContainer > div.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 40px;
    width: 200px;
}

#contactPageContainer > div.inactive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 200px;
    border-radius: 25px;
    background-color: lightgray;
}

