#homePageContainer {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url("../../images/evie-s-h_Aike2KQOw-unsplash.jpg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: left bottom;
}

#name {
    font-size: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 75%;
}


#homePageContainer > div.pageSubTitle {
    /* border: 3px solid orangered; */
    display: flex;
    flex-direction: row-reverse;
    color: gray;
}

@media only screen and (max-width: 600px) {
    #homePageContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #homePageContainer > div.pageSubTitle, #name {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 60%;
    }
  }