#homePageContainer {
    /* border: 1px solid blue; */
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#name {
    font-size: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 75%;
}


#homePageContainer > div.pageSubTitle {
    /* border: 3px solid orangered; */
    display: flex;
    flex-direction: row-reverse;
}