#workPageContainer {
    height: 100%;
}

.pageComponent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.linkContainer > a {
    color: rgba(56, 128, 235, 1);
}

div.linkContainer > a:hover {
    color: rgba(238, 139, 85, 1);
}

.componentText {
    height: 100%;
    width: 70%;
    padding-left: 25px;
    padding-right: 25px;
}

.componentText > div {
    padding-top: 15px;
}

img {
    height: 400px;
}

.projectName {
    font-size: larger;
    font-weight: bolder;
}

.componentSources {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.technologiesUsed {
    font-style: italic;
}

@media only screen and (max-width: 600px) {

    .pageComponent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .componentText {
        height: 100%;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

}